:root {

    --nav-height: 10vh;

    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

}

/* GLOBALS */

body {

    width: 100vw;
    height: 100vh;
    margin: 0;
    /* May be changed to scroll for editting purposes */
    overflow-x: hidden;
    overflow-y: hidden;

}

h2 {

    margin: 0;

}

/* VIEWPORT SETUP */

#app-container {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

/* PAGE SETUP */

.page {

    scroll-snap-align: start;
    width: 100%;
    height: 100%;

}

/* RECIPE BOOK */

#recipe-book-container {

    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    opacity: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 1s;

}

#recipe-book-nav {

    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5rem;

}

#recipe-book-content {

    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: start;

}

#recipe-book-content div {

    width: 80%;
    height: 90%;
    box-sizing: border-box;
    padding: 3rem;
    border-radius: 1rem;

    background-color: rgb(255, 255, 255);

}

#recipe-book-content div h2 {

    font-size: 3rem;
    color: black;
    margin-bottom: 2rem;
    letter-spacing: 0.5rem;

}

#recipe-book-content div section {

    height: 100%;

}

#recipe-book-content div ul {

    border-radius: 1rem;
    max-height: 80%;
    overflow-y: scroll;

}

#recipe-book-content div li {

    box-sizing: border-box;
    padding: 0.5rem;

}

#recipe-book-content div li:nth-child(odd) {

    background-color: rgb(233, 233, 233);

}

#recipe-book-content div li:hover {

    background-color: rgb(255, 226, 132);
}

/* NAVIGATION BAR */

nav {

    width: 100vw;
    height: var(--nav-height);
    display: flex;
    position: fixed;
    opacity: 0;

    transition: opacity 3s;

}

nav :nth-child(1) {

    min-width: 10%;

}

nav :nth-child(2) {

    width: 80%;

}

nav :nth-child(3) {

    min-width: 10%;

}

.nav-icon {

    font-size: 2rem;
    color: white;

}

.nav-icon-p:hover {

    animation-name: pulse;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

.nav-icon-pf:hover {

    animation-name: pulse-flick;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

/* PAGE O1 - SPLASH PAGE */

/* Container setup for the box effect */
#boxEffect {

    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

}

#page-01 {

    background-image: url("../img/splashbg.png");
    background-repeat: no-repeat;
    background-size: cover;

}

#logo-container {
    z-index: 1;
}

#logo {

    z-index: 1;
    width: 30rem;
    height: 30rem;

    transition: transform 1s;

}

#logo:hover {

    transform: scale(1.5);

}

#logo-nav {

    width: 5rem;
    height: 5rem;
    max-height: 100%;

}

/* PAGE 02 - RECIPE SELECTION */

#page-02 {

    padding-top: var(--nav-height);

}

#page-02-content {

    opacity: 0;
    transition: padding-top 2s, padding-bottom 2s, opacity 2s;

}

/* The following is regarding the recipe selection modal... */

/* parent */
#recipe-options-modal {

    border-radius: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    padding: 2rem;

}

/* container within parent */
#recipe-modal-content {

    position: relative;

}

#recipe-modal-content h2 {

    float: left;

}

/* recipe cards within container */
#recipe-container div {

    border-radius: 1rem;
    background-color: white;
    box-sizing: border-box;
    padding: 2rem;
    cursor: pointer;
    transform: scale(1.0);

    transition: transform 0.5s;

}

#recipe-container div:hover {

    transform: scale(1.2);

}

#recipe-container div h3 {

    padding-bottom: 1rem;

}

#recipe-container div img {

    border-radius: 1rem;

}

/* exit modal button */
#exit-modal {

    float: right;
    position: sticky;
    top: 0;
    max-width: 10%;

}

/* PAGE 03 - MAIN APPLICATION */

#page-03 {

    padding-top: var(--nav-height);

}

#page-03-container {

    width: 100%;
    height: 90vh;

    display: flex;

}

#spotify-container {

    border-radius: 1rem;
    margin: 1rem;

}

.col-01 {

    width: 20vw;
    background-color: #ffb23d;

}

.col-02 {

    width: 30vw;
    background-color: #ff9900;

}

.col-03 {
    width: 50vw;
}

.section {

    border-radius: 1rem;
    margin: 1rem;
    box-sizing: border-box;
    padding: 1rem;
    color: white;

}

.section ul {

    padding-left: 2rem;
    list-style: disc;
    line-height: 2rem;

}

.row-full {

    height: 80vh;

}

.clickable {

    cursor: pointer;

}

.center-v-h {

    display: flex;
    justify-content: center;
    align-items: center;

}

@keyframes pulse {

    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(1.1);
    }

}

@keyframes pulse-flick {

    0% {
        transform: rotate(0deg);
    }

    0% {
        transform: scale(1.0);
    }

    25% {
        transform: rotate(90deg);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(180deg);
    }

}