:root {

    --nav-height: 10vh;

    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

}

body {

    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: scroll;
    /*To be changed to hidden later */
    overflow-y: scroll;

}

nav {

    width: 100vw;
    height: var(--nav-height);
    display: none;
    position: fixed;

    background-color: pink;

}

h2 {

    margin: 0;

}

#app-container {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    /* background-color: red; */

}

#boxEffect {

    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

}

#page-01 {

    background-image: url("../img/splashbg.png");
    background-repeat: no-repeat;
    background-size: cover;

}

#logo-container {
    z-index: 1;
}

#logo {

    z-index: 1;
    width: 30rem;
    height: 30rem;

    transition: transform 1s;

}

#logo:hover {

    transform: scale(1.5);

}

#page-02 {

    background-color: yellow;
    padding-top: var(--nav-height);

}

#page-03 {

    background-color: orange;
    padding-top: var(--nav-height);

}

#page-03-container {

    width: 100%;
    height: 90vh;

    display: flex;

}

.page {

    scroll-snap-align: start;
    width: 100%;
    height: 100%;

}

.col-02 {

    width: 30vw;

}

.col-01 {

    width: 70vw;

}

.row-full {

    height: 90vh;

}

.clickable {

    cursor: pointer;

}

.center-v-h {

    display: flex;
    justify-content: center;
    align-items: center;

}

/* To be deleted later ->>>>*/

#recipe-name {

    background-color: purple;

}

#ingredients {

    background-color: red;

}

#method {

    background-color: grey;

}

#spotify-container {

    background-color: greenyellow;

}